<nav>
    <ul>
        <li><a href="/auth/logout" target="_self"><img class="nav-icon" src="../images/logout.png"></a></li>
        <li><a href="/" target="_self"><img class="nav-icon" src="../images/home.png"></a></li>
        <li><a href="/project" target="_self"><img class="nav-icon" src="../images/code.png"></a></li>
        <!-- <li><a href="/skill" target="_self">skill</a></li> -->
        <li><a href="https://github.com/arenslien" target="_blank"><img class="nav-icon" src="../images/github.png"></a></li>
        <!-- <li><a href="/setting" target="_self">setting</a></li> -->
        <!-- skill과 setting은 추후에 추가 -->
    </ul>
</nav>