doctype html
html
    head
        title Login
        link(type="text/css" rel="stylesheet" href="../css/basic.css")
        link(rel="icon" href="data:;base64,iVB0Rw0KGfo=")
        style.
            body {
                background: #508164;
            }
            fieldset.login {
                background: white;
                margin: 60px auto auto auto;
                width: 300px;
                height: 300px;
                border: none;
                box-shadow: 0px 0px 15px #000000;
                padding: 30px;
            }
            input {
                display: block;
                width: 250px;
                height: 50px;
                border: none;
            }
            input[type=text], input[type=password]{
                margin: 20px;
                background: #dddddd93;
                border-radius: 2px;
                padding-left: 20px;
            }
            input[type=submit] {
                margin: auto;
                background: #508164;
                color: white;
                width: 270px;
            }
            input[type=submit]:hover {
                cursor: pointer;
            }
            p.sign-up {
                text-align: center;
            }
            p a {
                color: #2fa75f;
                font-weight: bold;
            }
    body
        header
            h1.title: <a href="/">My WebPage</a> - Login
        section
            form#login_form(action="/login" method="POST")
                fieldset.login
                    input#id(type="text" placeholder="ID" name="login")
                    input#password(type="password" placeholder="Password" name="password")
                    input#login_button(type="submit" value="Login")
                    p.sign-up Not registered?
                        a(href="/sign-up" target="_self")  Create an account!

        script(src="http://unpkg.com/axios/dist/axios.min.js")
        script(src="../server/front_login.js")