doctype html
html
    head 
        title setting
        link(type="text/css" rel="stylesheet" href="../css/basic.css")
        link(rel="icon" href="data:;base64,iVB0Rw0KGfo=")
        style.
            iframe {
                display: inline-block;
                border: 2px solid #44564A;
                margin-top: 10px;
            }
            iframe.nav {
                width: 200px;
                height: 530px;
                border-right: 2px solid #44564A;
            }
            iframe.content {
                width: 390px;
                height: 530px;
            }
    body 
        header 
            h1.title: <a href="/">My WebPage</a> - Setting
        nav 
            ul
                li
                    a(href="/login" target="_self") login
                li
                    a(href="/github" target="_self") github
                li
                    a(href="/setting" target="_self") setting
                li
                    a(href="/etc" target="_self") etc
        section 
            iframe(src="/setting/nav" class="nav" name="nav") 
            iframe(src="/setting/user-info" class="content" name="content")