doctype html
html
    head
        title setting_nav
        link(type="text/css" rel="stylesheet" href="../css/basic.css")
        link(rel="icon" href="data:;base64,iVB0Rw0KGfo=")
        style.
            ul {
                padding: 0px;
            }
            h2.subtitle {
                margin: 0px;
            }
            ul li {
                margin:10px 0px 0px 30px;
            }
    body
        ul
            h2.subtitle 사용자 설정
            li: <a href="#" target=""> 유저 정보</a>