doctype html
html
    head
        title Sign Up
        link(type="text/css" rel="stylesheet" href="../css/basic.css")
        link(rel="icon" href="data:;base64,iVB0Rw0KGfo=")
        style.
            body {
                background: #508164;
            }
            fieldset.sign-up {
                border: none;
                background: white;
                margin: 60px auto auto auto;
                width: 300px;
                box-shadow: 0px 0px 15px #000000;
                padding: 30px;
            }
            input {
                display: block;
                width: 250px;
                height: 50px;
                border: none;
            }
            input[type=text],
            input[type=password],
            input[type=email] {
                margin: 20px;
                background: #dddddd93;
                border-radius: 2px;
                padding-left: 20px;
            }
            input[type=submit] {
                margin: auto;
                background: #508164;
                color: white;
                width: 270px;
            }
            input[type=submit]:hover {
                cursor: pointer;
            }
    body
        header
            h1.title: <a href="/">My WebPage</a> - Sign Up
        section
            form#sign_up_form(action="/sign-up" method="POST")
                fieldset.sign-up
                    input(type="email" placeholder="E-mail@example.com" name="email")
                    input(type="text" placeholder="id" name="id")
                    input(type="password" placeholder="Password" name="password")
                    input(type="password" placeholder="Confirm Password" name="confirm")
                    input(type="submit" value="Sign Up")

        script(src="http://unpkg.com/axios/dist/axios.min.js")
        script(src="../server/front_sign-up.js")