nav
    ul
        li
            a(href="/login" target="_self") login
        li
            a(href="/github" target="_self") github
        li
            a(href="/setting" target="_self") setting
        li
            a(href="/etc" target="_self") etc